# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Render build cache
render.yaml

# Local datasets (optional: if you don’t want CSVs in repo)
# DataSets/*.csv
